*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: #445166;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #496391;
    width: 50vw;
    height: 80vh;
    border-radius: 5%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding: 30px;
}

.cell{
    background-color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 5em;
    color: #e6a827;
}

.left{
    border-right:10px solid rgb(88, 88, 88);
}

.right{
    border-left: 10px solid rgb(88, 88, 88);
}

.top{
    border-bottom: 10px solid rgb(88, 88, 88) ;
}

.bottom{
    border-top: 10px solid rgb(88, 88, 88);
}

div.cell:hover{
    cursor: pointer;
}
