*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html{
    height: 100%;
    width: 100%;
    background-color: #b4fbd7;
}

.nav{
    background-color: lightgrey;
    height: 35px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
}

.btn{
    background-color: deepskyblue;
    border-radius: 10px;
    height: 25px;
    width: 120px;
}

.btn:hover {
    box-shadow: 4px 4px rgb(90, 90, 90);
}

.books-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
    gap: 15px;
    padding: 10px;
}

.card{
    min-height: 350px;
    background-color: #e4d594;
    border: black;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 4px 4px rgb(128, 125, 125);
}

.img{
    background-color: rgb(101, 140, 143);
    min-height: 65%;
    border-radius: 10px;
    border: black;
}

.info{
    text-align: center;
    height: 60px;
}

dialog{
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    align-self: center;
    justify-self: center ;
    width: 300px;
    height: 400px;
    transition: 0.2s ease-in-out;
}

.form-group{
    margin-bottom: 5px;
    text-align: left;
}

.form-group label{
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="number"]{
    width: 100%;
    padding: 10px;
}

.form-group.checkbox{
    display: flex;
    align-items: center;
}

.checkbox input[type="checkbox"]{
    margin-right: 10px;
}

.add,
.cancel{
    width: 80px;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.2em;
    opacity: 0.8;
}

.add{
    background-color: #4beb9b;
}

.cancel{
    background-color: rgb(238, 94, 94);
}

.add:hover,
.cancel:hover{
    opacity: 1;
}

.card button{
    font-size: 0.9em;
}

.btns{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    align-items: center;
    gap: 5px;
}

.button{
    background-color: #d2d2d2;
    width: 30px;
    height: 15px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    border: solid black 1px;
    transition: 0.2s;
}

.span{
    justify-items: center;
}

.button::before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 1px ;
    transition: 0.2s;
}

input:checked + .button{
    background-color: #2f91e2;
}

input:checked + .button::before{
    transform: translateX(15px);
}

button + input[type='checkbox']{
    display: none;
}